@model SaleDetailsModel

@{
    ViewData["Title"] = "Sale details";
}

<h2>@ViewData["Title"]</h2>


<table class="table table-bordered table-hover">
    <tr>
        <th>
            Name
        </th>
        <th>
            Is young driver
        </th>
        <th>
            Car Make
        </th>
        <th>
            Car Model
        </th>
        <th>
            Total Price
        </th>
        <th>
            Discount
        </th>
        <th>
            Discounted Price
        </th>
    </tr>
    <tr>
        <td>
            @Model.CustomerName
        </td>
        <td>
            @(Model.IsYoungDriver == true ? "Yes" : "No")
        </td>
        <td>
            @Model.CarMake
        </td>
        <td>
            @Model.CarModel
        </td>
        <td>
            $@Model.Price
            <a href="/cars/@Model.CarId/parts"><br/>See more...</a>
        </td>
        <td>
            @Model.Discount.ToString("F2")%
        </td>
        <td>
            $@Model.DiscountedPrice.ToString("F2")
        </td>
    </tr>
</table>


<div class="row">
    <!-- Trigger the modal with a button -->
    <button type="button" style="margin-left:1.6rem;" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Finalize Sale</button>


    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Total Cost: @Model.DiscountedPrice.ToString("F2")$</h2>
                </div>
                <div class="modal-body">
                    <p>Finalize Sale</p>
                </div>
                <div class="modal-footer">
                    <a href="/sales/delete/@ViewBag.SaleId" class="btn btn-success">Finalize</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
</div>