@model CarWithPartsModel

@{
    ViewData["Title"] = $"Parts Purchased";
}

<h2>@ViewData["Title"]</h2>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
               Make
            </th>
            <th>
                Model
            </th>
            <th>
                Parts
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Make                
            </td>
            <td>
                @Model.Model
            </td>
            <td>
                <ul>
                    @foreach (var part in Model.Parts)
                    {
                        <li>
                            @part.Name - @part.Price.ToString("F2")$
                        </li>
                    }
                    @if (!Model.Parts.Any())
                    {
                        <li>No available parts</li>
                    }
                </ul>
            </td>
        </tr>
    </tbody>
</table>
