@model AllCustomersModel

@{
    ViewData["Title"] = "Customers";
}

<h2>@ViewData["Title"]</h2>
<h5>Orderd in @Model.OrderDirection.ToString().ToLower() direction</h5>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Birthday
            </th>
            <th>
                Is young driver
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var customer in Model.Customers)
        {
        <tr>
            <td>
                <a href="/customers/@customer.Id">@customer.Name</a>
            </td>
            <td>
                @customer.BirthDay.ToShortDateString()
            </td>
            <td>
                @(customer.IsYoungDriver ? "Yes" : "No")
            </td>
            <td>
                <a href="/customers/edit/@customer.Id" class="btn btn-warning">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>